{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block main %}
    <div class="text-center">
        <img  src="{{ asset('img/logo.png') }}" alt="Sortir.Com.fr">
    </div>
    <div class="Inscription">
        <h1>Inscription</h1>
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button type="submit" class="btn btn-success mb-2">Inscription</button>
        {{ form_end(registerForm) }}
        <a href="{{ path('app_login') }}" class="btn btn-primary mb-2" >Retour au Login</a>
    </div>

{% endblock %}